:root {
  --shadow: 0 3px 4px rgba(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 0 0 2px #000, 0 0 0 5px #0c0c0c,
    0 0 0 5.5px #080808;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.card {
  height: 430px;
  width: 280px;
  padding: 50px;
  background: #1b1b1b;
  border-radius: 8px;
  justify-content: center;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  display: none;
}

.btn {
  width: 80px;
  height: 80px;
  background: #222;
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  font-size: 30px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input:checked ~ .btn {
  color: var(--shadow-color);
  box-shadow: 0 0 0 rgba(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 5px 5px rgba(255, 255, 255, 0.1), 0 0 0 2px #000, 0 0 0 5px #0c0c0c,
    0 0 0 7px var(--shadow-color);
  text-shadow: 0 0 15px var(--shadow-color), 0 0 30px var(--shadow-color);
  animation: mymove 0.25s ease;
}

@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
